{% extends 'base.html' %}

{% block title %}{{ comment.article }}{% endblock %}

{% block menu %}
    <li><a href="{% url 'comment_update' comment.pk %}"  class="nav-link">Edit</a></li>
    <li><a href="{% url 'comment_delete' comment.pk %}"  class="nav-link">Delete</a></li>
{% endblock %}

{% block content %}
    <h1><a href="{% url 'article_view' comment.article_id %}"> {{ comment.article }}</a></h1>
    <p>Created by {{ comment.author }}
            at {{ comment.created_at|date:'d.m.Y H:i:s' }}
    </p>
    <div class="pre">{{ comment.text }}</div>
{% endblock %}